<p>{{name |uppercase}}</p>
<p>{{name |lowercase}}</p>
<p>{{Greetings | titlecase}}</p>
<p>{{name|slice:3}}</p>
<p>{{name|slice:2:5}}</p>
<p>{{amount | currency}}</p>
<p>{{amount | currency:"INR"}}</p>
<p>{{amount | currency:"USD"}}</p>
<p>{{amount |currency:"EUR"}}</p>
<p>{{amount | currency:"INR":'code'}}</p>
<p>{{registration | json}}</p>
<p>{{date}}</p>
<p>{{date | date: "d/m/y"}}</p>
<p>{{date | date: "short"}}</p>
<p>{{date | date: "shortDate"}}</p>
<p>{{date | date: "shortTime"}}</p>
<p>{{date | date: "medium"}}</p>
<p>{{date | date: "mediumDate"}}</p>
<p>{{date | date: "mediumTime"}}</p>
<p>{{date | date: "long"}}</p>
<p>{{date | date: "longDate"}}</p>
<p>{{date | date: "longTime"}}</p>
<p>{{date | date: "fullDate" | uppercase}}</p>
<p>{{0.85 | percent}}</p>
<p>{{3.4878 | number:'1.2-3'}}</p>
<p>{{5 | factorial}}</p>