div{
    text-align: center;
}
label{
    text-align: left;
}
.alert-danger{
    background-color: rgb(236, 176, 176);
    width: 200px;
    margin-left: 700px;
}
.alert{
    color:red;
    margin-bottom:15px;
    margin-top:1px;
    text-align:left
}